.flex2 {
    display: flex;
    margin-top: 10%;
}

.flex3{
    display: flex;
}

.flex {
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
    /* padding: 20px; */
}
.flex2-child {
    height: 50px;
    width: 100px;
    color: white;
    background-color: #20232a;
}
.flex3-child{
    color: black;
    height: 50px;
    width: 100px;
}
.child {
    padding-top: 1%;    
    font-size: 2em;
    /* text-align: center; */
    padding-left: 2%;
    max-width: 50%;
    justify-content: center;
    font-size: large;
    align-content: center;
    align-items: center;
    /* border-radius: 3px; */
    border:1px solid #dee2e6;
    box-sizing: border-box;
}
.flex-child-large {
    flex-grow: 0.5;
}
.flex-child-medium{
    flex-grow: 0.2;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #17a2b8;
    width: auto;
  }

  .pad-zero{
    padding-top: 0px;
    padding-left: 2%;
  }

  .button-yes{
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:#2c3e50;
    width: auto;
  }
  
  input[type=submit]:hover {
    background-color: #17a2b8;
    width: auto;
  }
  .add-question{
    margin: 10% 15% 0% 15%;
    padding-bottom: 2%;
    display: flex;
    justify-content:center;
    border-radius: 5px;
    background-color: #f2f2f2;
    /* padding: 20px; */
    /* width: 60%; */
  }
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    padding: 2%;
    width: 50%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 2%;
    width: 50%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: all !important;
}

form{
  width: 80%
}

.form-div{
  display: flex;
  align-items: center;
}

.input-label{
  width: 15%
}

.form-control{
  margin: 8px 27px;
}

.choices-div{
  display: flex;
  justify-content: flex-start;;
}

.choices-list{
  display: flex;
  padding-right: 11px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 2em;
  margin-right: 3%;
  line-height: 2;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.select-div{
  display: flex;
  justify-content: left;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin: 0 6%;
}